* { 
	box-sizing: border-box; 
}

/*BODY */
body {
	max-width: 100%;
	background-color: #e5f2f3; /*#e0efe0*/
  color: #34495e;
  padding-top: 95px;
  position: relative;
}

/*NAVBAR STYLING*/
#customnav ul li a {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding: 20px 20px 20px;
	font-family: 'Titillium Web', Futura, Arial, sans-serif;
	transition: color 600ms;
}
#homebutton {
	color: white;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
#customnav a:hover {
  color: #ff007f; 
  text-decoration: none;
}
.navbar {
	color: white;
	background-color: #005053; /*#34495e*/
	position: fixed;
	width: 100%;
	top: 0;
	font-family: 'Titillium Web', Futura, Arial, sans-serif;
	z-index: 1;
}
.glyphicon {
	margin: 7px;
}
.dropdown-menu {
	background-color: #005053;
}

/*CAROUSEL STYLING*/
.carousel-caption p {
	margin-bottom: 175px;
	font-size: 1.5em;
}

/*Typography*/
h1,
h2,
h3 {
    font-family: 'Titillium Web', Futura, Arial, sans-serif;
}

/*STYLING THE BOOTSTRAP COLUMNS*/
.img-responsive {
	margin: 40px 20px;
}
.col-xs-6 {
	padding: 10px;
}

/*ABOUT STYLING*/
.intro p {
  font-family: 'Titillium Web', Futura, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  -webkit-margin-before: 0;
}
li,
p {
	font-family: Georgia,Times,"Times New Roman",serif;
}
.skills h2 {
	text-transform: uppercase;
	background-color: #5AD4C2;
	padding: 10px 10px;
}
.header h1 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 140px;
}
.pic {
	width: 100%;
	float: left;
}
h2 {
	margin-top: 0;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
.main-text {
	clear: both;
	padding-top: 60px;
	margin-bottom: 100px;
}
.main-text p {
	font-size: 1.2em;
}
#link {
  font-family: 'Titillium Web', Futura, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

/*WORK STYLING*/
#work h2 {
	text-align: center;
	margin-top: 200px;
}
.work-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 200px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}
.info {
  position: absolute; /* let's us move the text around and not worry about the image */
  top: 15%; /* position the text 15% away from the top */
  left: 22%;
  color:#fff;
  font-family:Futura;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
  display: none;
}
.proj-title {
  font-weight:100;
}

/*CONTACT STYLING*/
.contact-poster {
	display: block;
	width: 100%;
	padding: 13px 13px 10px 13px;
	margin-top: 10px; 
	margin-bottom: 50px;
	text-align: left;
	background-color: #5AD4C2;
/*	background-opacity: 0.4;
*/
}
.email {
	margin-bottom: 20px;
}
#contact{
	overflow-y: auto;
  background-image: url("../img/bike.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding:30px;
  padding-top: 50px;
  height: 900px;
  width: 100%;
}

/*FORM STYLING */
.form {
	margin-bottom: 40px;
}
.form-control {
	width: 80%;
}

/*MAP STYLING*/
.stalker-poster {
	width: 80%;
	padding: 13px;
	margin-bottom: 10px;
	display: inline-block;
}
.stalker-poster p {
	margin-bottom: 40px;
}
#map {
  height: 300px;
  width: 100%;
}

/*FAQ STYLING*/
.panel-body {
	font-family: Georgia,Times,"Times New Roman",serif;
	font-size: 1.1em;
	display: inline-block;
}
.panel-title {
	font-family: 'Titillium Web', Futura, Arial, sans-serif;
	font-size: 1.4em;
}
.panel-title:hover {
	color: #5AD4C2;
}
.panel-group {
	margin-top: 140px;
}

/*LEARN MORE BUTTON*/
.learn-more {
	text-align: left;
	float: left;
	padding: 20px;
	margin-left: 70px;
	margin-top: 100px;
}
.modal-button {
	float: right;
	padding: 20px;
	margin-top: 70px;
	margin-right: 70px;
}
#CV {
	width: 100%;
	height: 500px;
}

/*STYLING THE VIDEO */
#video {
	margin-bottom: 10px;
}
#video h2 {
	text-align: center;
}

/*	FOOTER STYLING */
footer {
	width: 100%;
	margin-top: 50px;
}
.copyright {
	text-align: center;
}
.follow-twitter {
	float: right;
	margin: 3px;
}
.fb-like {
	float: right;
	margin: 3px;
}











